@model NerdDinner1._4.Models.Dinner

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dinner: @Html.DisplayFor(model => model.Title)</title>
</head>
<body>
    <div>
        <fieldset>
            <legend>Fields</legend>

            <h4>@Html.DisplayFor(model => model.Title)</h4>

            <dl class="dl-horizontal">
                
                <dt>
                    <strong>When:</strong>
                    <!--Html.DisplayNameFor(model => model.EventDate)-->
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventDate)
                </dd>

                <dt>
                    <strong>Where:</strong>
                    @Html.DisplayFor(model => model.Address),
                    @Html.DisplayFor(model => model.Country)
                </dt>

                <dt>
                    <strong>@Html.DisplayNameFor(model => model.Description)</strong>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    <strong>Organizer:</strong>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HostedBy)
                    (@Html.DisplayFor(model => model.ContactPhone))
                </dd>

            </dl>
        </fieldset>
    </div>
    <p>
        @Html.ActionLink("Edit Dinner", "Edit", new { id = Model.DinnerID }) |
        @Html.ActionLink("Delete Dinner", "Delete", new { id = Model.DinnerID })
    </p>
</body>
</html>
