@model PagedList.IPagedList<NerdDinner1._4.Models.Dinner>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

@foreach (var item in Model) { 

    <li>
            @Html.ActionLink(item.Title, "Details", new { id = item.DinnerID })
            on <strong>
                @item.EventDate.ToString("yyyy-MMM-dd")
            @item.EventDate.ToString("HH:mm tt")
            </strong> at
            @(item.Address + " " + item.Country)
    </li>
}

</table>
